body{
    background-color: lightgray;
}

header{
    background-color: white;

}

.box{
    display: inline-block;
    vertical-align: middle;
    
}

h1{
    display: inline-block;
    vertical-align: middle;
    margin: 0%;
   
}

.circular{
    display: inline-block;
    border: 2px solid green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: green;
}
.quello{
    display: inline-block;
}

li{
    color: green;
}
li::before{
    content: 'pippo';
}

.task{
    display: inline-block;
}

.section{
    display: inline-block;
}