body{
    background-color: #F6F8F9;
    font-family: 'Kanit', sans-serif;
}

header{
    background-color: white;
}

main{
    background-color: white;
    margin: 75px 160px 50px;
    font-family: 'Kanit', sans-serif;
}
.elenco{
    padding-top: 30px;
    padding-left: 30px;
    display: block;
}

hr{
    margin: 0%;
   height: 0.5px;
   background-color: #F6F8F9;
}

.box{
    display: inline-block;
    vertical-align: middle; 
}

h1{
    display: inline-block;
    vertical-align: middle;
    margin: 0%;  
}

h2{
    display: block;
    vertical-align: middle;
    margin: 0%;  
}

.minibox{
    background-color: white;
    height: 40px;
    padding-right: 50%;
    padding-top: 15px;
   
}

.quello::before{
    content: '\2713';
    display: inline-block;
    border: 2px solid green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: green;
    margin: 5px;
}
.questo::before{
    content: '\00D7';
    display: inline-block;
    border: 2px solid red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: red;
    margin: 5px;
}
.botton1{
    display: inline-block;
    background-color:#47ADF1 ;
    margin-left: 30px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    
}

.botton2{
    display: inline-block;
    background-color: white ;
    border-radius: 5px;
    padding: 5px;
    color: #C8CED3;
    border-color: #C8CED3;
    

}

.editorial{
    background-color: #45ABEA;
    padding: 2.5px;
    border-radius: 10px;
    margin: 2px;
     color: white;
}
.q1{
    padding: 2.5px;
    border-radius: 10px;
    margin: 2px;
    background-color: #9C72E4;
    color: white;

}
.recrueting{
    line-height: 3px;
    padding: 2.5px;
    border-radius: 10px;
    margin: 2px;
    background-color: #65C1AA ;
    color: white;
}
.mobile{
    padding: 2.5px;
    border-radius: 10px;
    margin: 2px;
    color: white;
    background-color:  #F29E33;
}

.website{
    padding: 2.5px;
    border-radius: 10px;
    margin: 2px;
    background-color:  #D863A1; 
    color: white;
}

.sales{
    padding: 2.5px;
    border-radius: 10px;
    margin: 2px;
    background-color: #B0C926;
    color: white;
}